body {
  margin: 0;
  background: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  max-width: 750px;
  width: 100%;
}

.viewer {
  width: 100%;
  display: block;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #333;
  padding: 10px;
}

button, input {
  margin: 5px;
}

.progress {
  flex: 1;
  height: 10px;
  background: #555;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.progress__filled {
  width: 0%;
  background: #f00;
  height: 100%;
  transition: width 0.1s;
}